h1 Add patient 
    a(href="/") 
        button Back to home page
form(action="/add", method="post")
    each key in modelKeys 
        br
        label #{key} 
        input(type="text" name=!{key} required)
    br
    input(type="submit", value="Submit patient")